# I think larger stack size is required for rust? Not sure where I got this info
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8000

# Enable PSRAM for ESP32-S3, which allows us to store larger images
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y

# Force char to be signed (fixes type mismatch with esp-idf-svc)
CONFIG_COMPILER_CHAR_IS_SIGNED=y

# Use single factory partition with larger size (default is 1MB, we need more)
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y